	<ion-view view-title=" portforlio" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-portfolio" class="page-portfolio">
		<div class="list card">

  <div class="item item-avatar">
    <img src="data/images/header/logo1.png">
    <h2>Lethabo Mo Business Card</h2>
    <p>Graphic design</p>
  </div>

  <div class="item item-image">
    <img src="data/images/images/barner-5.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-link"></i>
    Preview
  </a>

</div><div class="list card">

  <div class="item item-avatar">
    <img src="data/images/header/logo1.png">
    <h2>Sinjana Enginnering</h2>
    <p>Website</p>
  </div>

  <div class="item item-image">
    <img src="data/images/images/barner-3.jpg">
  </div>

  <a class="item item-icon-left assertive" href="https://www.sinjanaengineering.co.za">
    <i class="icon ion-link"></i>
    Preview
  </a>

</div><div class="list card">

  <div class="item item-avatar">
    <img src="data/images/header/logo1.png">
    <h2>Ubuhle Hair Shop</h2>
    <p>Website</p>
  </div>

  <div class="item item-image">
    <img src="data/images/images/barner-4.jpg">
  </div>

  <a class="item item-icon-left assertive" href="https://www.ubuhlehairshop.com">
    <i class="icon ion-link"></i>
    Preview
  </a>

</div>
<div class="list card">

  <div class="item item-avatar">
    <img src="data/images/header/logo1.png">
    <h2>Nompuru Hygiene Solutions</h2>
    <p>Graphic Design</p>
  </div>

  <div class="item item-image">
    <img src="data/images/images/barner-6.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-link"></i>
    Preview
  </a>

</div>
<div class="list card">

  <div class="item item-avatar">
    <img src="data/images/header/logo1.png">
    <h2>Lethabo Mo Mobile App</h2>
    <p>Mobile app</p>
  </div>

  <div class="item item-image">
    <img src="data/images/images/barner-7.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-link"></i>
    Preview
  </a>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
