	<ion-view view-title=" Contact Me" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-contact_me" class=" page-contact_me">
		
<div class="padding scroll">

    <div class="padding contact_me-box">
        <h2>Lethabo Mo</h2>
        <div>
            Do not hesitate to contact me.
<h4>Why choose us</h4>
<p>We offer great service.</p>
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior contact_me-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/lethabomo777')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="calm icon ion-social-twitter"></i>
       Follow me on Twitter
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mailto://lethabo@lethabomo.co.za')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: lethabo@lethabomo.co.za
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
