	<ion-view view-title=" Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class="dashboard page-dashboard">
		

	<div class="slide-box-hero">
		<ion-slides class="slide-box-hero-content" options="{slidesPerView:1,autoplay:10000,loop:1}" slider="data.slider">
			<ion-slide-page>
				<img ng-src="data/images/images/barner-3.jpg" class="" />
			</ion-slide-page>
			<ion-slide-page>
				<img ng-src="data/images/images/barner-4.jpg" class="" />
			</ion-slide-page>
			<ion-slide-page>
				<img ng-src="data/images/images/barner-5.jpg" class="" />
			</ion-slide-page>
			<ion-slide-page>
				<img ng-src="data/images/images/barner-6.jpg" class="" />
			</ion-slide-page>
			<ion-slide-page>
				<img ng-src="data/images/images/barner-7.jpg" class="" />
			</ion-slide-page>
		</ion-slides>
	</div>
		<div class="dashboard-panel">
			<div class="item item-title item-positive-900 no-border">Menu</div>
			<!-- row -->
			<div class="row">
				<a id="menu-box-cb078ec7e3cc3a06bee59b1f3ea776c8e2c402b9" class="col-33 transparent-bg positive ink"  ng-href="#/lethabo_mo/about_me" >
					<i class="icon ion-android-contact" ></i>
					<p>About Me</p>
				</a>
				<a id="menu-box-e26dbb379cb98ebd7d4856f69a30f60a08e6c1f9" class="col-33 transparent-bg positive ink"  ng-href="#/lethabo_mo/portfolio" >
					<i class="icon ion-briefcase" ></i>
					<p>portforlio</p>
				</a>
				<a id="menu-box-cd971a20e17997ecab790f21d0a5428fe71dabbf" class="col-33 transparent-bg positive ink"  ng-href="#/lethabo_mo/contact_me" >
					<i class="icon ion-email" ></i>
					<p>Contact Me</p>
				</a>
			</div>
			<!-- ./row -->
			

			<div class="item item-title item-positive-900 no-border">Help</div>
			<!-- row -->
			<div class="row">
				<a id="menu-box-e7404a2850c95617c98b2a1880c7dfec922ead69" class="col-33 transparent-bg positive ink"  ng-href="#/lethabo_mo/terms_and_conditions" >
					<i class="icon ion-document-text" ></i>
					<p>T's &amp; C's</p>
				</a>
				<a id="menu-box-f11042a45ba69cc6af5e35117190a1cc05bb7e45" class="col-33 transparent-bg positive ink"  ng-href="#/lethabo_mo/faqs" >
					<i class="icon ion-ios-help-outline" ></i>
					<p>Faq</p>
				</a>
				<a id="menu-box-d219c68101f532de10add2cf42fb9dbeca73d3be" class="col-33 transparent-bg positive ink"  ng-href="#/lethabo_mo/location" >
					<i class="icon ion-map" ></i>
					<p>Location</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
<br/><br/><br/>
		</ion-content>
		<!-- ./content -->
	</ion-view>
